body
{
    background-color:#2e2e2e;
    
}

#game_body
{
    position: relative;
    margin:auto;
    background-color:#475B2C;
    width: 667px;
    height:667px;
    float:center;
}

#checkers
{
    position: absolute;
    margin-top:3px;
    margin-left:3px;
    margin-right:3px;
    border: 0px #000 solid;
    padding:0px
}


.box{
    margin:0px;
    height:52px;
    width:52px;
    margin:2px;
    display:inline-block;
    background-color:white;
    padding:5px;
    
}

#red-piece
{
    position:absolute;
    margin-left:680px;
    margin-top:410px;
    
}

#red-label
{
    position:absolute;
    margin-left:680px;
    margin-top: 460px;
    font: 11px arial;
    color:#fff;
}

#blue-piece
{
    position:absolute;
    margin-left:680px;
    margin-top:500px;
}

#blue-label
{
    position:absolute;
    margin-left:690px;
    margin-top:550px;
    font: 11px arial;
    color:#fff;
}

#position
{
    position:absolute;
    margin-left:680px;
    margin-top:600px;
    width:100px;
    font: 11px arial;
    color:#fff;
}



#snake_and_ladder
{
    position:absolute;
    margin-left:105px;
    margin-top:70px;
    
}

#snake1
{
    position:absolute;
    margin-left:40px;
    margin-top:20px;
}

#snake2
{
    position:absolute;
    margin-left:210px;
    margin-top:530px;
}

#ladder1
{
    position:absolute;
    margin-left:80px;
    margin-top:220px;
}

#ladder2
{
    position:absolute;
    margin-left:410px;
    margin-top:30px;
}

#ladder3
{
    position:absolute;
    margin-left:30px;
    margin-top:470px;
}

#ladder4
{
    position:absolute;
    margin-left:595px;
    margin-top:345px;
}



