body
{
    background-color:#2e2e2e;
    
}

#game_body
{
    position: relative;
    margin:auto;
    background-color:#475B2C;
    width: 667px;
    height:667px;
    float:center;
}

#checkers
{
    position: absolute;
    margin-top:3px;
    margin-left:3px;
    margin-right:3px;
    border: 0px #000 solid;
    padding:0px
}


.box{
    margin:0px;
    height:52px;
    width:52px;
    margin:2px;
    display:inline-block;
    background-color:white;
    padding:5px;
    
}

#red-piece
{
    position:absolute;
    margin-left:680px;
    margin-top:410px;
    
}

#red-label
{
    position:absolute;
    margin-left:680px;
    margin-top: 460px;
    font: 11px arial;
    color:#fff;
}

#blue-piece
{
    position:absolute;
    margin-left:680px;
    margin-top:500px;
}

#blue-label
{
    position:absolute;
    margin-left:690px;
    margin-top:550px;
    font: 11px arial;
    color:#fff;
}

#position
{
    position:absolute;
    margin-left:680px;
    margin-top:580px;
    width:100px;
    font: 11px arial;
    color:#fff;
}

#on_box
{
	position:absolute;
	margin-left:680px;
	margin-top:610px;
	width:200px;
	font: 11px arial;
	color:#fff;
}

#in_function
{
	position:absolute;
	margin-left:680px;
	margin-top:620px;
	width:200px;
	font: 11px arial;
	color:#fff;
}

#computer
{
	position:absolute;
	margin-left:680px;
	margin-top:640px;
	width:200px;
	font: 11px arial;
	color:#fff;
}


#snake_and_ladder
{
    position:absolute;
    margin-left:105px;
    margin-top:70px;
    
}

#snake1
{
    position:absolute;
    margin-left:40px;
    margin-top:20px;
}

#snake2
{
    position:absolute;
    margin-left:210px;
    margin-top:530px;
}

#snake3
{
	position:absolute;
	margin-left:200px;
	margin-top:170px;
}

#ladder1
{
    position:absolute;
    margin-left:15px;
    margin-top:220px;
}

#ladder2
{
    position:absolute;
    margin-left:410px;
    margin-top:30px;
}

#ladder3
{
    position:absolute;
    margin-left:30px;
    margin-top:470px;
}

#ladder4
{
    position:absolute;
    margin-left:595px;
    margin-top:345px;
}


#dice
{
	position:absolute;
	margin-left:690px;
	margin-top:50px;
	font: 11px arial;
	color:#fff;
}

#turn{
	position:absolute;
	margin-left:680px;
	margin-top:120px;
	font: 14px arial;
	color:#fff;
	width:100px;
}

#snake_ladder{
	position:absolute;
	margin-left:680px;
	margin-top:20px;
	font: 14px arial;
	color:red;
	width:100px;
}

